@inherits LayoutComponentBase

<main>
    @Body
</main>

<div id="blazor-error-ui" role="alert">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <button class="dismiss" aria-label="Dismiss error">&#x2715;</button>
</div>
